@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style-type: none;
}
a {
  text-decoration: none;
}
header {
  width: 1440px;
  background-color: #0c0c0e;
}

.header_up {
  width: 1400px;
  background-color: #0c0c0e;
}
.container {
  width: 1440px;
  margin: auto;
}
.header_items {
  display: flex;
  background-color: #0c0c0e;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}
.header_items ul {
  display: flex;
  gap: 30px;
}
.header_items h2 {
  margin-left: 20px;
  font-family: "Forum";
  color: #fff;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: 0.6px;
}
.header_items a {
  color: #fff;
  font-family: "Inter";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px;
}
.nav {
  display: flex;
  gap: 40px;
}

.header_down {
  width: 1440px;
  background: linear-gradient(
      180deg,
      #0c0c0e 0%,
      #0c0c0e 0.01%,
      rgba(18, 18, 21, 0.1) 50%,
      rgba(18, 18, 21, 0.1) 100%
    ),
    url("../assets/img/welcome.jpg") center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 600px;
}

.header_title {
  padding: 220px 0;
}
.header_title h1 {
  padding: 35px 40px;
  background-color: #0c0c0e;
  width: 600px;
  text-align: center;
  font-family: Forum;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: 3px;
}
h1 {
  color: white;
}
